HOTMART_CLIENT_ID=
HOTMART_CLIENT_SECRET=
HOTMART_BASIC_TOKEN=
HOTMART_HOTTOK=
HOTTOK=
HOTMART_API_BASE=https://api-sec-vlc.hotmart.com
HOTMART_PAYMENTS_API_BASE=https://developers.hotmart.com/payments/api/v1
HOTMART_PRODUCT_ID=
APP_SECRET=
